

    <div class="footer">
        <ul class="footer_bottom">
            <li><a href="http://agarey.com" target="_blank">Home</a></li>
            <li><a href="http://agarey.com" target="_blank">About</a></li>
            <li><a href="http://agarey.com" target="_blank">Resources</a></li>
            <li><a href="http://agarey.com" target="_blank">Blog</a></li>
            <li><a href="http://agarey.com" target="_blank">Contact</a></li>
        </ul>
        <ul class="social_footer">
            <li><a href="https://agarey.com" target="_blank"><i class="fas fa-home"></i></a></li>
            <li><a href="https://github.com/a-garey" target="_blank"><i class="fab fa-github"></i></a></li>
            <li><a href="https://ucla.academia.edu/AmyGarey" target="_blank"><i class="fas fa-graduation-cap"></i></a></li>
            <li><a href="https://www.linkedin.com/in/amy-garey-97115616" target="_blank"><i class="fab fa-linkedin"></i></a></li>
        </ul>
        <div class="cr">
            <p class="center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; © Copyright 2020</p>
        </div>
    </div> 

