{% extends 'skazka_app/base.html' %}

{% load static %}

{% block content %}

    <!-- Register form -->
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Register</h2>
                        <div>
                            {% if messages %}
                            <ul class="messages">    
                            {% for message in messages %}    
                                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                        <form action= "/register_method/" method="post" class="register-form" id="register-form">
                        {% csrf_token %}
                            <div class="form-group-mine">
                                <label for="name" class="my-form"><i class="fas fa-user"></i></i></label>
                                <input type="text" name="first_name" id="name" placeholder="First Name"/>
                            </div>
                            <div class="form-group-mine">
                                <label for="name" class="my-form"><i class="fas fa-user"></i></i></label>
                                <input type="text" name="last_name" id="name" placeholder="Last Name"/>
                            </div>
                            <div class="form-group-mine">
                                <label for="email" class="my-form"><i class="fas fa-envelope"></i></label>
                                <input type="email" name="email" id="email" placeholder="Email"/>
                            </div>
                            <div class="form-group-mine">
                                <label for="password" class="my-form"><i class="fas fa-lock"></i></label>
                                <input type="password" name="password" id="password" placeholder="Password"/>
                            </div>
                            <div class="form-group-mine">
                                <label for="confirm_password" class="my-form"><i class="fas fa-lock"></i></label>
                                <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm password"/>
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signup" id="signup" class="form-submit" value="Register"/>
                            </div>
                        </form>
                    </div>
                    <div class="bear">
                        <img src="/static/images/bear.png" class="img-fluid" width="300px" width="250px" alt="bear"></>
                        <div class="helper-text">
                            <a href="/login">Already registered?</a>
                        </div>
                    </div>
                </div>
            </div>
            
        </section>


{% endblock %}